<?xml version="1.0"?>
<config>
    <modules>
        <Noble_AdminOrderGrid>
            <version>1.0.4</version>
        </Noble_AdminOrderGrid>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Noble_AdminOrderGrid_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <noble_adminordergrid>
                <class>Noble_AdminOrderGrid_Model</class>
            </noble_adminordergrid>
        </models>
        <helpers>
            <adminordergrid>
                <class>Noble_AdminOrderGrid_Helper</class>
            </adminordergrid>
        </helpers>
    </global>
    <default>
        <noble>
            <default_columns>
                <real_order_id>1</real_order_id>
                <store_id>1</store_id>
                <created_at>1</created_at>
                <billing_name>1</billing_name>
                <shipping_name>1</shipping_name>
                <base_grand_total>1</base_grand_total>
                <grand_total>1</grand_total>
                <status>1</status>
                <action>1</action>
            </default_columns>
            <extended_columns>
                <shipping_method>0</shipping_method>
                <payment_method>0</payment_method>
                <shipping_country>0</shipping_country>
                <billing_country>0</billing_country>
                <customer_email>0</customer_email>
                <amount_items>0</amount_items>
                <weight>0</weight>
                <subtotal>0</subtotal>
                <customer_group>0</customer_group>
                <remote_ip>0</remote_ip>
                <coupon_code>0</coupon_code>
            </extended_columns>
        </noble>
    </default>
</config>